mat-card {
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 2rem;
}

.spinner {
  margin: 1em auto;
}

.width {
  max-width: 400px;
  margin: 0 auto;
}

.currency {
  margin: 20px;
}

.grid {
  margin: 1rem auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
  .grid-item-anim {
    transition: transform 500ms ease;
    &:hover {
    transform: translateY(-3px);
    }
  }
}