<!-- <div *ngIf="!stripeRole"> -->

  <mat-button-toggle-group class="currency" #currency="matButtonToggleGroup" value="usd">
    <mat-button-toggle value="usd">USD</mat-button-toggle>
    <mat-button-toggle value="eur">EUR</mat-button-toggle>
  </mat-button-toggle-group>

  <div class="grid">
    
    <ng-container *ngFor="let item of products">

      <mat-card *ngIf="item.currency == currency.value">
        <mat-card-header>
          <mat-card-title>{{item.name}}</mat-card-title>
          <mat-card-subtitle style="white-space: pre-line">{{item.description}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{item.image}}>
        <mat-card-actions>
          <a mat-raised-button color="accent" (click)="checkout(item.priceId)">{{ item.price }} {{item.currency | uppercase}}/{{ item.interval }}</a>
          <mat-spinner *ngIf="isloading" color="accent" class="spinner"></mat-spinner>
        </mat-card-actions>
      </mat-card>

    </ng-container>
  </div>

<!-- </div> -->

<div class="width" *ngIf="stripeRole">
  <h2>Status</h2>
  <ng-container *ngFor="let item of subscriptions">

    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar>{{item.active === true ? 'check_circle' : 'highlight_off'}}</mat-icon>
        <mat-card-title>{{item.name}}</mat-card-title>      
        <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <p>You are paying: {{ item.price }} {{item.currency | uppercase}}/{{ item.interval }}</p>
        <p>Giving you the role: {{stripeRole}}</p>
        
        <!--
          <div *ngIf="stripeRole == 'premium' else notPremium">
          </div> 

          <ng-container *ngIf="!stripeRole || stripeRole === 'premium'">
            <p>Premium content: {{stripeRole}}</p>
          </ng-container>

          <ng-template #notPremium>
            <p>Subscribe to Premium to access exclusive content</p>
          </ng-template>
        -->
        
        <p>Next payment will be on: {{item.nextPayment | date}}</p>
        <a mat-raised-button color="accent" (click)="accessCustomerPortal()">edit subscription</a>
        <mat-spinner *ngIf="isloading" color="accent" class="spinner"></mat-spinner>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>