html, body { 
  height: 100%;
}
body {
  margin: 0;
  font-family: DM Sans;
}
a {
  color: white;
  text-decoration: none;
}
header {
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}
section {
  padding: 1em;
}